{% extends 'base-admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block stylesheets %}
<style>
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }

</style>

{% endblock %}

{% block body %}

    <a class="btn btn-secondary mb-3" href="{{ path('category_index') }}">
        <i class="fa fa-arrow-circle-left"></i>
        {{'Back to list'|trans}}
    </a>
    <h1>Create new Category</h1>
    <div class="card p-3 mt-3">
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
