{% extends 'base-admin.html.twig' %}

{% block title %}New Governorate{% endblock %}

{% block body %}

<a class="btn btn-secondary mb-3" href="{{ path('governorate_index') }}">
        <i class="fa fa-arrow-circle-left"></i>back to list</a>

    <h1>Create new Governorate</h1>

    {{ include('governorate/_form.html.twig') }}

{% endblock %}
