<select name="cat" class="input-select">
    <option value="">All Categories</option>
    {% for categorie in categories %}
        <option value="{{ categorie.id }}">{{ categorie.name |slice(0, 10) }}
            ..</option>
    {% endfor %}
</select>