{% extends 'base.html.twig' %}

{% block title %}Commander {% endblock %}


{% block body %}

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="{{ path('homepage') }}">Home</a></li>
					<li class="active">Commander</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Valider ma commande / Mes coordonnées</h2>
			</div>

			<section id="form"><!--form-->
				<div class="container">
					<div class="row">

						<div class="col-sm-12">
							<div class="signup-form"><!--sign up form-->
								{{form_start(form)}}
                                {{ form_widget(form) }}
								<button type="submit" class="btn btn-success">Valider ma commande</button>
								{{form_end(form)}}
							</div><!--/sign up form-->
						</div>
					</div>
				</div>
			</section><!--/form-->
			<p>&nbsp</p>

		</div>
	</section> <!--/#cart_items-->

{% endblock %}
