{% extends 'base.html.twig' %}

{% block title %}Success {% endblock %}


{% block body %}
	<div>
    <p>Votre commande N°{{num_cmd}} a bien été validée. Elle sera traité dès que nous receverons la preuve du paiement.</p>
    </div>
    <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}